@{
    ViewData["Title"] = "Anasayfa";
}


<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="orange">
               ARAÇ BİLGİLERİ
            </div>
            <div class="card-content">
                <p class="category">Şirketin Sahip Olduğu Araç Sayısı</p>
                <h3 class="title" id="ftsvehiclecount">

                    <small>Adet</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a href="#pablo"></a>
                    <h3 id="Vtime"></h3>
                </div>
            </div>
        </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="green">
                PERSONEL BİLGİLERİ
           </div>
            <div class="card-content">
                <p class="category">Toplam Personel Sayısı</p>
                <h3 class="title" id="ftspersoncount">
                    <small>Adet</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a href="#pablo"></a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="red">
              GÖREV BİLGİLERİ
            </div>
            <div class="card-content">
                <p class="category">Tanımlı Görev Sayısı</p>
                <h3 class="title" id="taskCount">
                    <small>Adet</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a href="#pablo"></a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header" data-background-color="blue">
            YAKIT BİLGİLERİ<br />
            </div>
            <div class="card-content">
                <p class="category"> <br />Alınan Toplam Yakıt</p>
                <h3 class="title" id="fuelCount">
                    <small>Litre</small>
                </h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <a href="#pablo"></a>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card"style="left:-275px">
            <div class="card-header card-chart" data-background-color="green">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-content">
                <h4 class="title">Günlük En Çok Mesafe Kat Eden 5 Araç</h4>
                <p class="category">
                    <span class="text-success" id="birinciarackm"><i class="fa fa-long-arrow-up"></i> </span> km mesafe ile 1.olan araç Id: .
                    <span class="text-success" id="birinciaracId"> </span> 
                </p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">
                    
                    access_time</i> Güncellenme Tarihi: <small id="timefuel"> </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="left:-270px">
            <div class="card-header card-chart" data-background-color="orange">
                <div class="ct-chart" id="emailsSubscriptionChart"></div>
            </div>
            <div class="card-content">
                <h4 class="title">En Fazla Yakıt Alan 5 Araç</h4>
                <p class="category">Id bazında araçlar görüntülenmektedir.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Güncellenme Tarihi: <small id="time"> </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="    left: 90px;    top: -319px;">
            <div class="card-header card-chart" data-background-color="red">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-content">
                <h4 class="title">En Çok Görev Yapan Personeller</h4>
                <p class="category">Görevlere göre personellerin sıralanması görüntülenmektedir.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> Aylık olarak görüntülenmektedir <small id="time"> </small>
                </div>
            </div>
        </div>
    </div>
  
</div>

@section Scripts{
    <!--   Core JS Files   -->
<script src="../js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script src="../js/bootstrap.min.js" type="text/javascript"></script>
<script src="../js/material.min.js" type="text/javascript"></script>
<!--  Charts Plugin -->
<script src="../js/chartist.min.js"></script>
<!--  Dynamic Elements plugin -->
<script src="../js/arrive.min.js"></script>
<!--  PerfectScrollbar Library -->
<script src="../js/perfect-scrollbar.jquery.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../js/bootstrap-notify.js"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Material Dashboard javascript methods -->
<script src="../js/material-dashboard.js?v=1.2.0"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../js/demo.js"></script>

    <script>
        $(function () {
            $.getJSON('/FtsVehicle/AracSayisi', function (data) {
                $('#ftsvehiclecount').append(data[0].Id)
                         
            })

            $.getJSON('/FtsPerson/PersonelSayisi', function (data) {
                $('#ftspersoncount').append(data[0].Id)
            })
            $.getJSON('/FtsVehicle/BirinciAracKm', function (data) {
                $('#birinciarackm').append(data[0].TotalKm)
            })
            $.getJSON('/FtsVehicle/BirinciAracId', function (data) {
                $('#birinciaracId').append(data[0].VehicleId)
            })
            $.getJSON('/FtsVehicle/BirinciAracSaat', function (data) {
                $('#time').append(data[0].CreatedOn)
            })
            $.getJSON('/FtsVehicle/ToplamYakıtSaat', function (data) {
                $('#timefuel').append(data[0].CreatedOn)
            })
            $.getJSON('/FtsTasks/GorevSayisi', function (data){
                $('#taskCount').append(data[0].TaskCount)
            
            })
            $.getJSON('/FtsFuelPurchase/ToplamYakitLitresi', function (data) {
                $('#fuelCount').append(data[0].TotalFuel)

            })
          

        });

         
    </script>
<script type="text/javascript">
        $(document).ready(function () {

            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });
</script>
   
}